/* ===================================================
IMPORT FONT
=================================================== */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* ===================================================
GLOBAL
=================================================== */

html,
body,
[class*="css"]{

    font-family:'Poppins',sans-serif;

}

.stApp{

    background:linear-gradient(
    135deg,
    #08111F,
    #0F172A,
    #172554);

    color:white;

}

/* Hide default */

#MainMenu{

    visibility:hidden;

}

footer{

    visibility:hidden;

}

header{

    visibility:hidden;

}

/* ===================================================
SIDEBAR
=================================================== */

section[data-testid="stSidebar"]{

    background:#0A1325;

    border-right:1px solid rgba(255,255,255,.08);

}

section[data-testid="stSidebar"]{

    padding-top:20px;

}

section[data-testid="stSidebar"] *{

    color:white;

}
section[data-testid="stSidebar"]{

    width:280px !important;

}

section[data-testid="stSidebar"] .stRadio{

    padding-top:15px;

}

/* ===================================================
TITLE
=================================================== */

.hero{
    text-align:center;
    padding:15px 0 25px 0;
}

.hero-logo{
    font-size:55px;
    margin-bottom:8px;
}

.hero h1{
    font-size:52px;
    font-weight:700;
    color:white;
    margin:0;
}

.hero h3{
    color:#60A5FA;
    font-weight:500;
    margin-top:10px;
}

.hero p{
    color:#A5B4FC;
    letter-spacing:2px;
    margin-top:8px;
}

/* ===================================================
METRIC CARDS
=================================================== */

div[data-testid="stMetric"]{

    background:linear-gradient(
    160deg,
    rgba(30,41,59,.95),
    rgba(15,23,42,.92));

    border-radius:20px;

    padding:14px 18px;
    min-height:120px;
    border:1px solid rgba(96,165,250,.25);
    box-shadow:
    0 0 15px rgba(59,130,246,.12),
    0 12px 25px rgba(0,0,0,.35);
    transition:.35s;

}

div[data-testid="stMetric"]:hover{

    transform:translateY(-5px);

    border:1px solid #3B82F6;

    box-shadow:
    0 0 25px rgba(59,130,246,.45);

}

/* ===========================================
   CUSTOM INFO CARDS
=========================================== */

.info-card{

    background:linear-gradient(145deg,#1E293B,#0F172A);

    border:1px solid rgba(96,165,250,.18);

    border-radius:22px;

    padding:22px;

    min-height:170px;

    display:flex;

    flex-direction:column;

    justify-content:center;

    transition:.35s;

    box-shadow:
    0 10px 25px rgba(0,0,0,.35);

}

.info-card:hover{

    transform:translateY(-6px);

    border-color:#3B82F6;

    box-shadow:
    0 0 25px rgba(59,130,246,.35);

}

.card-label{

    color:#60A5FA;

    font-size:18px;

    font-weight:600;

    margin-bottom:18px;

}

.card-value{

    color:white;

    font-size:42px;

    font-weight:700;

    line-height:1.2;

}

.card-line{

    margin-top:18px;

    width:65px;

    height:5px;

    border-radius:20px;

}

.purple{

    background:#8B5CF6;

}

.blue{

    background:#3B82F6;

}

.green{

    background:#22C55E;

}

/* ===========================
Prediction Result Card
=========================== */

.result-card{

    background:linear-gradient(
    180deg,
    #0F2A20,
    #12281E);

    border:1px solid #22C55E;

    border-radius:20px;

    padding:28px;

    text-align:center;

    box-shadow:
    0 0 18px rgba(34,197,94,.18);

}

.result-title{

    color:white;

    font-size:22px;

    font-weight:600;

    margin-bottom:25px;

}

.result-status{

    color:#4ADE80;

    font-size:46px;

    font-weight:700;

}

.result-sub{

    color:white;

    font-size:22px;

    margin-top:10px;

}

.result-aqi{

    color:#A7F3D0;

    font-size:24px;

    font-weight:600;

    margin-top:18px;

}

.result-confidence{

    color:#94A3B8;

    margin-top:18px;

}

.result-percent{

    color:white;

    font-size:36px;

    font-weight:700;

}

/* Metric Label

div[data-testid="stMetricLabel"]{

    justify-content:center;

}

div[data-testid="stMetricLabel"] p{

    color:white;

    font-size:18px;

    font-weight:500;

}

Metric Value

div[data-testid="stMetricValue"]{

    justify-content:center;

}

div[data-testid="stMetricValue"] div{

    color:white;

    font-size:32px;

    font-weight:700;

} */

/* ===================================================
HEADINGS
=================================================== */

h2{

    color:white;

    margin-top:25px;

    margin-bottom:15px;

}

h3{

    color:white;

}

/* ===================================================
PLOTLY
=================================================== */

.stPlotlyChart{

    background:linear-gradient(
    160deg,
    rgba(30,41,59,.95),
    rgba(15,23,42,.92));

    border-radius:20px;

    padding:18px;

    border:1px solid rgba(255,255,255,.08);

    box-shadow:

    0 10px 25px rgba(0,0,0,.35);

}

/* ===================================================
BUTTON
=================================================== */

.stButton>button{

    width:100%;

    border:none;

    border-radius:12px;

    background:#2563EB;

    color:white;

    font-size:16px;

    font-weight:600;

    padding:12px;

    transition:.3s;

}

.stButton>button:hover{

    background:#1D4ED8;

}

/* ===================================================
SUCCESS BOX
=================================================== */

div[data-testid="stAlert"]{

    border-radius:15px;

}

/* ===================================================
DATAFRAME
=================================================== */

div[data-testid="stDataFrame"]{

    border-radius:18px;

    overflow:hidden;

}

/* ===================================================
NUMBER INPUT
=================================================== */

div[data-baseweb="input"]{

    border-radius:12px;

}

/* ===================================================
SPACE
=================================================== */

.block-container{

    padding-top:2rem;

    padding-left:3rem;

    padding-right:3rem;

    padding-bottom:2rem;

}

.prediction-card{

    background:linear-gradient(180deg,#102A22,#0B1D18);

    border:1px solid #22C55E;

    border-radius:22px;

    padding:25px;

    text-align:center;

    height:100%;

}

.prediction-card h2{

    font-size:22px;

    color:white;

}

.prediction-circle{

    width:90px;

    height:90px;

    border-radius:50%;

    background:#1B5E20;

    display:flex;

    justify-content:center;

    align-items:center;

    margin:25px auto;

    font-size:45px;

}

.prediction-card h1{

    color:#4ADE80;

    font-size:42px;

}

.prediction-card h3{

    color:white;

}

.prediction-card p{

    color:#A7F3D0;

    font-size:22px;

}